.u-section-1 .u-sheet-1 {
  min-height: 697px;
}

.u-section-1 .u-text-1 {
  margin: 0 450px 0 478px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-2 {
  margin-bottom: 0;
  margin-top: -5px;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -324px 133px 0 auto;
  padding: 20px 98px 21px 97px;
}

.u-section-1 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto 0 718px;
  padding: 20px 98px 21px 97px;
}

.u-section-1 .u-btn-4 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 133px 0 auto;
  padding: 20px 98px 21px 97px;
}

.u-section-1 .u-btn-5 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto 0 718px;
  padding: 20px 98px 21px 97px;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 0 133px 0 auto;
  padding: 19px 98px 20px 97px;
}

.u-section-1 .u-text-3 {
  margin: 38px 26px 0 0;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-4 {
  margin: 156px 13px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 350px;
    margin-left: 378px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 518px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 518px;
  }

  .u-section-1 .u-btn-6 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: -15px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 240px;
    margin-left: 268px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 298px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 298px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 150px;
    margin-left: 178px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 118px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 118px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 21px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 135px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 50px;
    margin-left: 78px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 64px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -16px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 93px;
  }
}